<template>

<div :class="dropDirection">
  <a class="dropdown-toggle" href="#" role="button" id="avatar-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <div class='avatar' :style="avatarStyle">
      <div class='text-avatar' :style="initialsStyle">
        <div  v-if="loggedInQ">{{initials}}</div>
        <div v-else><i class='fa fa-user'></i></div>
      </div>
    </div>
  </a>

    <ul class='dropdown-menu'>
      <li class="dropdown-item" v-for='action in userActions' :key='action.id' :style="actionStyle">
        <a :href='action.href'>
          <span class="">
            <i class="fa" :class="action.icon"></i>
            {{action.text}}
          </span>
        </a>
      </li>
    </ul>
</div>



</template>


<script>
import { colors, LightenDarkenColor, initialsFontSize, azOnly, captialsIn, initialsOf } from './DjangoUserUtils.js';

let hrefSignIn = '',
hrefSignOut = '',
hrefSignUp = '',
hrefProfile = '';


export default {
  name: 'DjangoUser',
  props: {
    loggedInQ: {
      type: Boolean,
      default: false
    },
    dropDirection: {
      type: String,
      default: 'dropleft'
    },
    username: {
      type: String,
      default: 'User Name'
    },
    hrefSignIn: {
      type: String,
      default: hrefSignIn
    },
    hrefSignOut: {
      type: String,
      default: hrefSignOut
    },
    hrefSignUp: {
      type: String,
      default: hrefSignUp
    },
    hrefProfile: {
      type: String,
      default: hrefProfile
    },
    size: {
      type: Number,
      default: 30
    },
    fontColorShift: {
      type: Number,
      default: 80
    }
  },
  data: function() {
    return {

    };
  },
  computed: {
    initials: function() {
      return initialsOf(this.username)
    },

    avatarStyle: function () {
      let color = colors[Math.floor(Math.random() * colors.length)]
      return {
        width: this.size + 'px !important',
        height: this.size + 'px !important',
        backgroundColor: color,
        color: LightenDarkenColor(color, this.fontColorShift)
      }
    },

    initialsStyle: function () {
      return {
        fontSize: initialsFontSize(this.size) + 'px',
      }
    },

    actionStyle: function () {
      var fs = (this.size / 2 / 1.5), disp = '', mr = '0px';
      if (fs < 10) {
        fs = this.size / 2;
        disp = 'inline !important';
        mr = '5px';
      }
      return {
        fontSize: fs + 'px',
        display: disp,
        marginRight: mr
      }
    },

    userActions: function() {
      return this.loggedInQ
      ? [
        {icon: 'fa-sign-out-alt', href: this.hrefSignOut, text: 'Sign-out'},
        {icon: 'fa-wrench', href: this.hrefProfile, text: 'Profile'},
      ]
      : [
        {icon: 'fa-sign-in-alt', href: this.hrefSignIn, text: 'Sign-in'},
        {icon: 'fa-user-plus', href: this.hrefSignUp, text: 'Sign-up'},
      ];
    }
  },
  methods: {

  }
};
</script>


<style scoped>

.avatar {
  background: rgb(0,191,255);
  border: 1px solid transparent;
  border-radius: 50%;
}

.text-avatar {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-weight: bold;
}

li a {
  text-decoration: none;
}

li a:visited {

}


.dropdown-toggle::after, .dropdown-toggle::before {
  content: none !important;
}
</style>
