<template>
  <div class="tr tpage">
    <div class="tr">
      <div class="">
        <span>Records per page:&nbsp;</span>
        <select :selected="selected" @change="$emit('pageSize', $event.target.value)">
          <option
          v-for="opt in pageOptions"
          :key="opt.id"
          >{{opt}}</option>
        </select>
      </div>
    </div>

    <div class="" style='flex-grow:1'></div>

    <div class="page-nav">
      <a @click="$emit('prev', -1)" class="previous round">&#8249;</a>
      <div class='page-text'>page {{page+1}} / {{pages}}</div>
      <a @click="$emit('next', 1)" class="next round">&#8250;</a>
    </div>

  </div>
</template>

<script>

export default {
  name: 'data-table-pagination',
  props: {
    selected: {
      default: '5'
    },
    page: {
      default: 0
    },
    pages: {
      default: 0
    },
    pageOptions: {
      default: ['5', '10', '25', 'All']
    }

  },
  components: {  },
  computed: {},

};
</script>


<style scoped>



.tpage {
  padding: 10px;
  display: inline-flex;
  flex-direction: row;
}

.page-nav {
  padding-left: 10px;
  display: inline-flex;
  flex-direction: row;
}
.page-text{
  margin-left: 2px;
  margin-right: 2px;
}

a {
 text-decoration: none;
 display: inline-block;
 padding: 8px 16px;
 -webkit-user-select: none; /* Chrome all / Safari all */
-moz-user-select: none;    /* Firefox all             */
-ms-user-select: none;     /* IE 10+                  */
 user-select: none;        /* Likely future           */
}

a:hover {
 background-color: #ddd;
 color: black;
}

.previous {
 background-color: #f1f1f1;
 color: black;
}

.next {
 background-color: #f1f1f1;
 color: white;
}

.round {
 border-radius: 50%;
}

select {
    background-color: transparent;
    border-color: transparent;
    -webkit-appearance: none;
    text-transform: uppercase;
    padding: 0 5px;
    font-weight: bold;
    color: RGB(32, 122, 247);
    -moz-appearance: none;
  }

</style>
