<template >
  <div
     v-html='html'
     class='td'
  >
  </div>
</template>

<script>
export default {
  name: 'data-table-cell',
  props: {
    recordId: { type: String },
    record: { type: Object },
    field: { type: String },
    fieldRenderFunctions: {
      default: function() {return {};},
      type: Object
    }
  },
  computed: {
    html: function() {
      let r = this.record;
      let f = this.field;
      let i = this.recordId;
      let funcs = this.fieldRenderFunctions;

      if (funcs != undefined && f in funcs) {
        return funcs[f](i, r, f);
      } else {
        return r[f];
      }
    }
  }
};
</script>

<style scoped src='../DataTable/data-table-style.css'></style>
