<template>
  <div
    @click='minus'
  >
    <i
      class='fa'
      :class='[{"fa-minus-circle": !readyQ,"fa-times-circle": readyQ},"bg-"+background, "text-"+color]'
      >
    </i>
  </div>
</template>

<script>
export default {
  props: {

  },
  data: function() {
    return {
      readyQ: false,
      color: 'danger',
      background: 'light'


    };
  },
  methods: {
    minus: function() {
      if (!this.readyQ) {
        this.readyQ = true;
        return;
      }
      else {
        this.readyQ = false;
        this.$emit('minus');
      }

    }
  }
};
</script>

<style scoped>
i {
  font-size: 24px;
  color:'#dc3545';
}
i:hover, i:focus{
  color: '#c82333' !important;
}
</style>
