<template>
  <div>
    <div
      class='cnf'
      v-for='(cnf, index) in conjunctiveNormalForm'
      :key='cnf.id'
    >
      <span v-if='index' class='logic and'>{{logicRenders['and']}}</span>
      (
        <InputAlphaFilter v-for='(filter, jndex) in cnf'
        :key='filter.id'
        :filter='filter'
        :index='jndex'
        @filterClick='filterClick(index, jndex)'
        />
      )
    </div>
  </div>
</template>

<script>
import InputAlphaFilter from '../InputAlphaFilter/InputAlphaFilter.vue';
import {groupByConjunctiveNormalForm} from '../InputAlpha/helpers.js';
import {logicRenders} from '../InputAlpha/tokens.js';

export default {
  components: { InputAlphaFilter },
  props: ['filters'],
  data: function() {
    return {
      logicRenders: logicRenders
    };
  },
  computed: {
    conjunctiveNormalForm: function() {
      return groupByConjunctiveNormalForm(this.filters)
    }
  },
  methods: {
    filterClick: function(index, jndex) {
      var total = 0;
      let that = this;
      for (var i = 0; i < index; i++) {
        total += that.conjunctiveNormalForm[i].length;
      }
      total += jndex;
      // console.log('total', total)
      that.$emit('filterClick', total);
    }
  }
};
</script>


<style scoped src='./styles.css'>

</style>
