.filter {
  display: inline-block;
}

.logic {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 2px;
}

.and {
  color: #0072ff;
}
.or {
  color: #00c6ff;
}

.property {
  /* border-bottom: solid 2px #f83600; */
  color: #f83600;
}


.cnf {
  display: inline-block;
}


.filter:hover {
  opacity: 0.5;
  text-decoration: line-through;
  color: red;
}
