
<template>
  <input :value='value' @input='updateInput($event)'/>
</template>

<script>
export default {
  name:'advanced-filter-input',
  data: function() {
    return {
      value: this.selected,
    };
  },
  methods: {
    updateInput: function(event) {
      this.$emit('updateInput', event.target.value);
    }
  }

};
</script>

<style scoped>
input {
  background-color: transparent ;
  border-color: transparent;
  border-bottom-color: RGB(50, 200, 250);
  padding: 0 5px;
  color: RGB(32, 122, 247)
}

input:focus {
  outline: none;
}
</style>
