<template>
  <tr>
    <!-- Logic -->
    <td>
      <advanced-filter-select-logic
         v-if='index!=0'
         :selected='filter.logic'
         @updateSelected='updateSelectLogic'
      />
    </td>

    <!-- functions -->
    <td>
      <advanced-filter-select-function
        :selected='filter.function'
        :data-type='propertyType'
        @updateSelected='updateSelectFunction'
      />
    </td>

    <!-- properties -->
    <td>
      <advanced-filter-select-property
        :selected='filter.property'
        :properties='properties'
        @updateSelected='updateSelectProperty'
        :data-type='propertyType'

      />
    </td>


    <!-- conditional -->
    <td>
      <advanced-filter-select-conditional
        :selected='filter.conditional'
        :data-type='applicableConditionalType'
        @updateSelected='updateSelectConditional'
      />
    </td>



    <!-- input -->
    <td>
      <advanced-filter-input
        :value='filter.input'
        @updateInput='updateInput'
      />
    </td>

    <!-- close -->
    <td><button-minus-to-close @minus='removeMe'/></td>
  </tr>
</template>

<script>
import AdvancedFilterInput from '../AdvancedFilterInput/AdvancedFilterInput.vue';
import AdvancedFilterSelectConditional from '../AdvancedFilterSelectConditional/AdvancedFilterSelectConditional.vue';
import AdvancedFilterSelectFunction from '../AdvancedFilterSelectFunction/AdvancedFilterSelectFunction.vue';
import AdvancedFilterSelectLogic from '../AdvancedFilterSelectLogic/AdvancedFilterSelectLogic.vue';
import AdvancedFilterSelectProperty from '../AdvancedFilterSelectProperty/AdvancedFilterSelectProperty.vue';
import ButtonMinusToClose from '../../ButtonMinusToClose/ButtonMinusToClose.vue';

export default {

  components: {
    AdvancedFilterSelectConditional,
    AdvancedFilterSelectLogic,
    AdvancedFilterSelectFunction,
    AdvancedFilterSelectProperty,
    AdvancedFilterInput,
    ButtonMinusToClose
  },

  props: {

    index: { type: Number },

    filter: {
      type: Object,
      default: function() { return {}; },
      validator: function(value) {
        var keys = Object.keys(value);

        if (!keys.includes('logic')) { value.logic = 'and'; }

        if (!keys.includes('function')) { value.function = 'identity'; }

        if (!keys.includes('conditional')) { value.conditional = 'eq'; }

        if (!keys.includes('input')) { value.input = ''; }

        if (!keys.includes('property')) { value.property = ''; }
        return true;
      }
    },

    properties: {
      type: Object,
      default: function () { return {}; },
      validator: function(properties) {
        let props = Object.keys(properties);
        return props.every(function(prop) {
          let propKeys = Object.keys(properties[prop]);
          let conditional = propKeys.includes('exampleValue')
            && propKeys.includes('exampleValueType')
            && propKeys.includes('text');
          return conditional;
        });
      }
    }
  },

  data : function(){
    return {
      logic: this.filter.logic,
      function: this.filter.function,
      conditional: this.filter.conditional,
      input: this.filter.input,
      property: this.filter.property
    };
  },
  methods: {
    removeMe: function() {
      this.$emit('removeThisFilter');
    },

    applyFilter: function() {
      var filt = this.filter;
      // var f = functions[filt.function].func;

      if (this.filter.input === '') {
        return
      }

      this.$emit('updateFilter', filt);
      //
      // if (filt.input != '') {
      //   this.$emit('updateFilter', filt);
      // } else {
      //   this.$emit('noInput', filt, this.index)
      // }
    },

    updateSelectLogic: function(newSelected) {
      this.filter.logic = newSelected;
      this.logic = newSelected;
      this.applyFilter();
      // this.$emit('updateFilter', this.filter, this.index);
    },

    updateSelectFunction: function(newSelected) {
      this.filter.function = newSelected;
      this.function = newSelected;
      this.applyFilter();
      // this.$emit('updateFilter', this.filter, this.index);
    },

    updateSelectProperty: function(newSelected) {
      this.filter.property = newSelected;
      this.property = newSelected;
      this.applyFilter();
      // this.$emit('updateFilter', this.filter, this.index);
    },

    updateSelectConditional: function(newSelected) {
      this.filter.conditional = newSelected;
      this.conditional = newSelected;
      this.applyFilter();
      // this.$emit('updateFilter', this.filter, this.index);
    },

    updateInput: function(newInput) {
      this.filter.input = newInput;
      this.input = newInput;
      this.applyFilter();
      // this.$emit('updateFilter', this.filter, this.index);
    },
  },
  computed: {
    propertyData: function() {
      let that = this;
      let prop = that.property;
      let propData = that.properties[prop];
      return propData;
    },
    propertyType: function() {
      let that = this;
      return that.propertyData.exampleValueType;
    },
    applicableConditionalType: function() {
      let that = this;
      let type = that.propertyType;
      if (type.includes('array')) {
        if (['min', 'max', 'mean', 'length'].includes(that.function)) {
          type = 'number';
        }
      }
      return type;
    }
  }
};
</script>

<style scoped>
</style>
