<template>
  <div :class='"bg-"+type' role='alert-box'>
    <strong v-html='error'></strong>
    <span v-html='message'></span>
    <button @click='$emit("remove")'>&times;</button>
  </div>
</template>

<script>
export default {
  props: {
    type: {
      type: String,
      default: 'secondary'
    },
    error: {
      type: String,
      default: 'error'
    },
    message: {
      type: String,
      default: ''
    }
  }
};
</script>

<style scoped src='./alert-styles.css'>

</style>
