div {
  -webkit-animation: Animate 10s ease infinite;
  -moz-animation: Animate 10s ease infinite;
  animation: Animate 10s ease infinite;
  padding: 5px 10px;
  border-radius: 5px;
}

.bg-warning {
  background: #f2994a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-warning {
  color: #f2994a; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to right,
    #f2c94c,
    #f2994a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.bg-danger {
  background: #cb2d3e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #cb2d3e,
    #ef473a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #cb2d3e,
    #ef473a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-danger {
  color: #cb2d3e; /* fallback for old browsers */
  color: -webkit-linear-gradient(
    to bottom,
    #cb2d3e,
    #ef473a
  ); /* Chrome 10-25, Safari 5.1-6 */
  color: linear-gradient(
    to bottom,
    #cb2d3e,
    #ef473a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

strong:after {
  content: ": ";
}

button {
  font-weight: bold;
  border: solid 1px transparent;
  border-radius: 10px;
  /* float: right; */
  padding: 0px;
  margin: 0px;

}

button:hover {
  opacity: 0.8;
  -webkit-animation: Animate 10s ease infinite;
  -moz-animation: Animate 10s ease infinite;
  animation: Animate 10s ease infinite;
}

@-webkit-keyframes Animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes Animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes Animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
