<template >
  <div class='data-table' :style="{'width':width+'%'}">

    <div class='caption-row' v-if="includeFilter">
      <span class='title'>{{title}}</span>
      <data-table-filter
          :filterText='filterText'
          :filtered='filteredRecords.length'
          :total='recordIds.length'
          @update:filterText='updateFilterText'
        />
    </div>

    <div class='caption-row' >
      <data-table-caption-sort :timsort='timsort' style='float:left;'/>
      <data-table-caption-filter
        :filtered='filteredRecords.length'
        :total='recordIds.length'
      />
    </div>


    <div class='table-wrapper'>
      <div class='table'>
        <data-table-header
          :fields='fields'
          :sort='timsort'
          @header:click='headerClick'
          @selectAll='selectAll'
          :selectableQ='selectableQ'
        />

        <div class='tbody'>
          <data-table-row
            v-for='recordId in idsOfPage'
            :key='recordId.id'
            :recordId='recordId'
            :record='records[recordId]'
            :fields='fields'
            :fieldRenderFunctions='fieldRenderFunctions'
            :selectableQ='selectableQ'
            :selected='selected'
            @toggledSelected='toggledSelected'
            @row:click=''
          />
        </div>

        <data-table-footer
        :fieldData='fieldData'
        />
        <data-table-pagination
          v-if="pagination"
          :selected="pageSize"
          :page="currentPage"
          :pages="numPages"
          @prev="changePage"
          @next="changePage"
          @pageSize="changePageSize"
          :pageOptions="pageOptions"
        />
      </div>
    </div>

  </div>
</template>

<script>
import DataTableFilter from '../DataTableFilter/DataTableFilter.vue';
import DataTableRow from '../DataTableRow/DataTableRow.vue';
import DataTableHeader from '../DataTableHeader/DataTableHeader.vue';
import DataTableFooter from '../DataTableFooter/DataTableFooter.vue';
import DataTablePagination from '../DataTablePagination/DataTablePagination.vue';
import DataTableCaptionSort from '../DataTableCaptionSort/DataTableCaptionSort.vue';
import DataTableCaptionFilter from '../DataTableCaptionFilter/DataTableCaptionFilter.vue';
import { giRegexOnFields, objectFields, tableTimsort } from './helpers.js';

export default {
  components: {
    DataTableRow,
    DataTableFilter,
    DataTableHeader,
    DataTableCaptionSort,
    DataTableFooter,
    DataTableCaptionFilter,
    DataTablePagination
  },
  props: {
    pagination: {
      type: Boolean,
      default: false
    },
    includeFilter: {
      type: Boolean,
      default: true
    },
    data: {
      default: function() {return {};},
      type: Object
    },
    width: {
      default: 100
    },
    fieldRenderFunctions: {
      default: function() {return {};},
      type: Object
    },
    fieldSortingFunctions: {
      default: function() {return {};},
      type: Object
    },
    fieldAggregateFunctions: {
      default: function() {return {};},
      type: Object
    },
    title: {
      type: String,
      default: ''
    },
    selectableQ: {
      type:Boolean,
      default: false
    },
    startingPageSize: {
      type: String,
      default: '5'
    },
    pageOptions: {
      default: ['5', '10', '25', 'All']
    }
  },

  data: function() {
    let inPageOpts = this.pageOptions.indexOf(this.startingPageSize) > -1
    return {
      // actual data
      records: this.data,
      // keys in data
      recordIds: Object.keys(this.data),
      // fields across all records
      fields: objectFields(Object.keys(this.data), this.data),
      // value of filter
      filterText: '',

      // list of sorts
      timsort: {},

      sortedRecords: Object.keys(this.data),
      filteredRecords: Object.keys(this.data),
      sortedAndFilteredRecords: Object.keys(this.data),
      selected: [],

      pageSize: inPageOpts ? this.startingPageSize : this.pageOptions[0],
      currentPage:0,
    };
  },

  computed: {
    idsOfPage() {
      if (!this.pagination) return this.sortedAndFilteredRecords
      if (this.pageSize == 'All') return this.sortedAndFilteredRecords
      return this.sortedAndFilteredRecords.slice(this.currentPage * this.pageSize, (this.currentPage+1)*this.pageSize)
    },
    numPages() {
      if (this.pageSize == 'All') return 1
      return Math.ceil(this.sortedAndFilteredRecords.length / this.pageSize)
    },
    fieldData: function() {
      let that = this;
      var fieldObject = {};

      if (this.selectableQ) {
        let selected = this.selected;
        fieldObject['checked'] = this.sortedAndFilteredRecords.map(function(id) {
          if (selected.includes(id)) {return 1;}
          return 0;
        });
      }

      that.fields.map(function(field) {
        that.sortedAndFilteredRecords.map(function(id) {
          let value = that.records[id][field];
          if (fieldObject[field] == undefined) {
            fieldObject[field] = [];
          }
          if (field in that.fieldRenderFunctions) {
            fieldObject[field].push(
              that.fieldRenderFunctions[field](id, that.records[id], field)
            );
          } else {
            fieldObject[field].push(value);
          }
        });
      });
      return fieldObject;
    }
  },

  methods: {
    changePage(val) {
      if (this.currentPage + val < 0) {
        return
      }
      if (this.currentPage + val > this.numPages) {
        return
      }
      this.currentPage += val

    },
    changePageSize(val) {
      this.pageSize = val
      this.page = 0
      // update page
    },
    headerClick: function(sort) {
      this.timsort = sort;
      // console.log('TIMSORT', this.timsort);
      this.sortedRecords = this.sortRecords(this.recordIds);
      this.filteredRecords = this.filterRecords(this.sortedRecords);
      this.sortedAndFilteredRecords = this.filteredRecords;
    },
    updateFilterText: function(filterText) {
      this.filterText = filterText;

      this.filteredRecords = this.filterRecords(this.sortedRecords);
      this.sortedAndFilteredRecords = this.filteredRecords;
    },

    sortAndFilter: function() {
      let sorted = this.sortRecords(this.recordIds);
      return this.filteredRecords(sorted);
    },

    filterRecords: function(ids) {
      return giRegexOnFields(this.filterText, ids, this.records, this.fields, this.fieldRenderFunctions);
    },

    sortRecords: function(ids) {
      return tableTimsort(ids, this.records, this.timsort, this.fieldSortingFunctions);
    },

    selectAll: function() {
      if (this.selected.length == this.sortedAndFilteredRecords.length) {
        this.selected = [];
      } else {
        this.selected = this.sortedAndFilteredRecords.slice();
      }
    },
    toggledSelected: function(id) {

      let selected = this.selected;
      if (selected.includes(id)) {
        selected.splice(selected.indexOf(id), 1)
      } else {
        selected.push(id);
      }
    }
  }
};
</script>

<style scoped src='./data-table-style.css'></style>
