.data-table {
  margin: auto;
  margin-bottom: 20px;
}
.table-wrapper {
  /* overflow-x: scroll; */
}

.caption-row {
  display:inline-block; width:100%;
}

.table {
  display: flex;
  flex-direction: column;

  margin: 0 auto 25px;
  border-collapse: collapse;
  border-bottom: 2px solid #007593;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1), 0px 10px 20px rgba(0, 0, 0, 0.05),
    0px 20px 20px rgba(0, 0, 0, 0.05), 0px 30px 20px rgba(0, 0, 0, 0.05);
  background-color: #e0e0e0;
}

.thead,
.tfoot {
  background-color: #e0e0e0;
  color: RGB(52, 58, 64);
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  user-select: none;
  display: flex;
  flex-direction: column;
  font-size: 1em;
}

.thead {
  /* text-decoration: underline; */
}

.thead .tr .th:after {
  text-decoration: none;
}

.tbody {
  display: block;
  max-height: 250px;
  overflow-y: scroll;
  overflow-x: hidden;
  flex-direction: column;
  font-size: 0.85em;
}

.tfoot {
}

.td,
.th {
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: ellipsis;
  width: 100%;
  flex-basis: 0;
  flex-grow: 1;
  border-collapse: collapse;
  margin: 0px;
  border: solid transparent 0px;
  padding: 0px 5px;
}

.tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.tbody .tr:nth-child(even) {
  background-color: RGB(242, 242, 242);
}
.tbody .tr:nth-child(odd) {
  background-color: #ffffff;
}

.thead.tr,
.tfoot.tr {
  width: calc(100% - 15px);
}

.td {
}
.th {
}

.td:hover {
  background-color: RGB(184, 192, 200);
}
/* .td:not(:hover) {
  opacity: 0.5;
} */

.title {
  float: left;
  font-size: 1.25em;
  color: black;
  font-weight: bold;
}

@media (max-width: 800px) {
  .tr {
    flex-direction: column !important;
  }
  .tbody .tr {
    border-bottom: solid 2px black !important;
  }
  .tbody .td {
    border-bottom: solid 1px RGBA(1, 1, 1, 0.2) !important;
  }

  .tfoot,
  .thead {
    font-size: 0.8em;
  }
  .tbody {
    font-size: 0.7em;
  }
}


.selectable-checkbox {
  align-self: center;
  text-align: center;
}




.tpage {
  
}
