<template>
  <div class="filter" @click='clicked'>
    <span
      v-if="index"
      class='logic'
      :class='filter.logic'
      >
      {{ logicRenders[filter.logic] }}
    </span>


    <span
      v-if="filter.function!=='identity'"
      class='function'
    >
      {{filter.function}}
    </span>


    <span class='property'>{{filter.property}}</span>


    <!-- conditional -->
    <span class='conditional'>
      {{ conditionalRenders[filter.conditional] }}
    </span>

    <!-- user input -->
    <span class='input'>
      {{filter.input}}
    </span>
  </div>
</template>

<script>
import {logicRenders, conditionalRenders} from '../InputAlpha/tokens.js';

export default {
  props: ["filter", "index"],
  data: function() {
    return {
      logicRenders: logicRenders,
      conditionalRenders: conditionalRenders
    };
  },
  methods: {
    clicked: function() {
      this.$emit("filterClick");
    }
  }
};
</script>

<style scoped src='../InputAlphaConjunctiveNormalForm/styles.css'>

</style>
