<template >
  <div class='table-responsive'>
    <table class='table'>
      <thead>
        <tr>
          <th scope='col'><span v-if='filters.length>1'>Logic</span></th>
          <th scope='col'>Function</th>
          <th scope='col'>Property</th>
          <th scope='col'>Conditional</th>
          <th scope='col'>Value</th>
          <th scope='col'><button-minus-to-close @minus='filters=[]'/></th>
        </tr>
      </thead>

      <tbody>
        <advanced-filter-row
          v-for='(filter, index) in filters'
          :index='index'
          :key='filter.id'
          :filter='filter'
          :properties='properties'
          @removeThisFilter='filters.splice(index,1)'
          @updateFilter='updateFilter'

        />

        <tr>
          <th><button-plus @plus='addFilter'/></th>
          <th></th><th></th><th></th><th></th><th></th>
        </tr>
      </tbody>
      <caption>Number of records: {{numberOfRecords}}</caption>

    </table>

    <div v-for="(k, i) in filtered">
      {{k}}: {{records[k]}}
    </div>
  </div>



</template>

<script>
import AdvancedFilterRow from '../AdvancedFilterRow/AdvancedFilterRow.vue';
import ButtonMinusToClose from '../../ButtonMinusToClose/ButtonMinusToClose.vue';
import ButtonPlus from '../../ButtonPlus/ButtonPlus.vue';

import determineType from './determineType.js';

import functions from '../AdvancedFilterSelectFunction/functions.js';
import conditionals from '../AdvancedFilterSelectConditional/conditionals.js';


export default {
  components: { AdvancedFilterRow, ButtonMinusToClose, ButtonPlus },

  props: {
    data: {
      default: () => {},
      type: Object
    }
  },
  data: function() {
    return {
      filtered: Object.keys(this.data),
      filters: [],
      records: this.data
    };
  },
  computed: {
    recordFields: function() {
      var that = this;

      var allRecordFields = [].concat(
        ...that.recordIds.map(
          function(recordId){
            return Object.keys(that.records[recordId]);
          })
      );
      return [...new Set(allRecordFields)];
    },
    recordIds: function() {
      return Object.keys(this.records);
    },
    numberOfRecords: function() {
      return this.filtered.length;
    },
    properties: function() {
      let that = this;
      let recordFields = that.recordFields;
      let recordIds = that.recordIds;
      let recordFieldsData = {};

      recordFields.map(function(field) {

        let fieldData = {};

        var exampleRecord, exampleFieldValue;
        for (var i = 0; i < recordIds.length; i++) {
          var currentRecordId = recordIds[i];
          exampleRecord = that.records[currentRecordId];
          exampleFieldValue = exampleRecord[field];
          if (exampleFieldValue) { break; }
        }

        fieldData.exampleValue = exampleFieldValue;
        fieldData.exampleValueType = that.determineType(exampleFieldValue);
        fieldData.text = field;
        recordFieldsData[field] = fieldData;
      });
      return recordFieldsData;
    }
  },
  methods: {
    addFilter: function() {
      let that = this;
      that.filters.push({
        property: that.recordFields[0]
      });
    },
    removeAll: function() {

    },
    filterData: function() {
      let that = this;
      let recordIds = that.recordIds;
      let filters = this.filters;
      let filterGroups = [];


      for (var i = 0; i < filters.length; i++) {
        var logic = filters[i].logic;
        if (logic == 'and') {filterGroups.push([filters[i]]);}
        else {
          filterGroups[filterGroups.length-1].push(filters[i]);
        }
      }

      let filtered = recordIds.filter(function(id) {
        var record = that.records[id];
        var and = filterGroups.map(function(filts) {
          var or = filts.some(function(filt) {
            var f = functions[filt.function].func;
            var c = conditionals[filt.conditional].cond;
            var p = record[filt.property];
            var i = filt.input;
            var fx = f(p);
            return c(fx, i);
          });
          return or;
        });
        return and.every(function(e) {return e;});
      });
      return filtered;
    },
    updateFilter: function(filter) {
      filter;
      // let filters = this.filters;
      this.filtered = this.filterData();
    },

    determineType: determineType
  }
};
</script>

<style scoped>

</style>
