<template>
  <div>
    Records:
    <span
      v-if='filtered != total'
      class='top'
    >
      {{filtered}}
    </span>
    <span> {{total}} </span>
  </div>
</template>

<script>
export default {
  name: 'data-table-caption-sort',
  props: ['filtered', 'total']
};
</script>

<style scoped src='../DataTable/data-table-style.css'></style>
<style scoped>
div {
  text-align: right;
  position: relative;
  font-size: 12px;
  color: grey;
}
.top { }
.top:after {
  content: '/';
}
</style>
