<template>
  <div class="">
    <select @change='updateSelected($event)'>
      <option
        v-for='(val, key, index) in options'
        :value='key'
        :selected='key == value'
      >
        {{val.text}}
      </option>
    </select>
    <span>{{type}}</span>
  </div>

</template>

<script>

export default {
  name:'advanced-filter-select-property',
  props: {
    properties: {
      type: Object,
      default: function() {
        return {};
      }
    },
    selected: {
      type: String,
      default: 'identity'
    },
    dataType: {
      type: String,
      default: ''
    }
  },
  data: function() {
    return {
      value: this.selected,
      options: this.properties
    };
  },
  methods: {
    updateSelected: function(event) {
      this.value = event.target.value;
      this.$emit('updateSelected', event.target.value);
    },
    formatType: function() {
      let that = this;
      let type = that.dataType;
      let formatted = type;
      if (type.includes('array') && type.length > 5) {
        formatted = type.replace('array', 'array: ');
      }
      return formatted;
    }
  },
  computed: {
    type: function() {
      return this.formatType();
    }
  }
};
</script>

<style scoped>
span {
  display: block;
  color: RGB(202, 149, 103);
  font-size: 10px;
}
</style>
