<template>
  <a
    class='button'
    :class='[{ "has-icon": iconQ}, color]'
  >
  <img v-if='iconQ' :src='src'></img>
  {{text}}
  </a>
</template>

<script>
export default {
  name:'anchor-button',
  props: {
    iconQ: {
      type: Boolean,
      default: false
    },
    src: {
      type: String,
      default: ''
    },
    text: {
      type: String,
      default: 'Button'
    },
    href: {
      type: String,
      default: '#'
    },
    color: {
      type:String,
      default: ''
    }
  },
};
</script>

<style scoped>
a {
  text-decoration: none;
  color: #34495e;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  font-size: 1.05em;
    font-weight: 600;
}

a.button {
  padding: 0.75em 2em;
  border-radius: 2em;
  display: inline-block;

  transition: all 0.15s ease;
  box-sizing: border-box;
  border: 1px solid;
}

.has-icon {
  position: relative;
  text-indent: 1.4em;
  width: 2em;

}

img {
  /* width: 30px;
  height:30px; */
  position: absolute;
  left: 0.4em;
  top: 0.4em;
  width: 2em;
}

.button {
  margin: 1em 0;
  font-size: 1.05em;
  font-weight: 600;
  letter-spacing: 0.1em;
  min-width: 8em;
  text-align: center;
}





.vue-green {
  color: #fff !important;
  background-color: #4fc08d !important;
  border-color: #4fc08d !important;
}

.vue-white {
  color: #42b983 !important;
  background-color: #fff !important;
  border-color: #4fc08d !important;
}

.vue-gray {
  color: #7f8c8d !important;
  background-color: #f6f6f6 !important;
  border-color: #f6f6f6 !important;
}

.moz-blue {
  color: #fff !important;;
  background: #306efe linear-gradient(120deg,#30cde2 0,#306efe 100%) no-repeat !important;
  border: 0 !important;

  /* border-color: transparent !important; */
  /* border-radius: 100px; */
}

.moz-blue-hollow {
  color: #306efe!important;
  border-color: #306efe!important;
  /* border-radius: 100px!important; */
  background-color: transparent !important;
}

.moz-white-hollow {
  color: #fff!important;
  border-color: #fff!important;
  /* border-radius: 100px!important; */
  background-color: transparent !important;
}

@media screen and (max-width: 900px) .button {
  font-size: 0.9em !important;
  img {
    width: 20px;
    height:20px;
  }
}

</style>
