<template>
  <select @input='updateSelected($event)'>
    <option
      v-for='(val, key, index) in options'
      :value='key'
      :selected='key == value'
      v-if='val.types.includes(dataType)'
    >
      {{val.text}}
    </option>
  </select>
</template>

<script>
import conditionals from './conditionals.js';
export default {
  name:'advanced-filter-select-conditional',
  props: {
    selected: {
      type: String,
      default: 'identity'
    },
    dataType: {
      type: String,
      default: 'undefined'
    }
  },
  data: function() {
    return {
      value: this.selected,
      options: conditionals
    };
  },
  methods: {
    updateSelected: function(event) {
      this.value = event.target.value;
      this.$emit('updateSelected', event.target.value);
    }
  }
};
</script>

<style scoped>
</style>
