<template>
  <button type='button' name='button' v-on:click='animateScrollTo'>
    <i class='fa fa-chevron-up'></i>
  </button>
</template>

<script>


export default {
  props: {
    offsetSelector: {
      type: String,
      default: ''
    },
    debugQ: {
      type: Boolean,
      default: false
    }
  },

  data: function () {
    return { offset: 0 }
  },

  computed: {

  },

  methods: {
    setOffset: function() {
      this.offset = this.offsetSelector == undefined
        ? 0
        : $(this.offsetSelector).outerHeight() == undefined
          ? 0
          : $(this.offsetSelector).outerHeight();
    },

    animateScrollTo: function() {
      this.setOffset();
      var that = this;
      if (that.debugQ) { console.group('[section-up]'); }
      if (that.debugQ) { console.table({currentOffset: curOffset, offsetSelector:that.offsetSelector}); }


      var sections = document.querySelectorAll('section:not([display="none"])');
      var current = undefined;
      var curOffset = this.offset;


      if (that.debugQ) { console.group('each section'); }
      sections.forEach(function(s){
        // window position
        var winScroll = $(window).scrollTop() - 0.2;
        // section position
        var curScroll = $(s).offset().top - curOffset;


        if (that.debugQ) {
          console.table({
            windowPosition: winScroll,
            sectionScrollPosition: curScroll,
            section: s
          });
        }

        if ( winScroll > curScroll) { current = s; }
      })
      if (that.debugQ) { console.groupEnd(); }
      if (that.debugQ) { console.groupEnd(); }


      // Scroll to section
      if (current != undefined) {
        $('html, body').animate({
          scrollTop: $(current).offset().top - curOffset
        }, 1000, function() {});
      }

    }
  }
}
</script>

<style scoped>
button {
  background: radial-gradient(rgb(0, 198, 255), rgb(0, 114, 255));
  background-color: transparent;
  border: transparent 0px solid;

  margin: 0;
  padding: 0px;

  width:32px;
  height:32px;

  border-radius: 50%;
  transition: all 0.5s ease;

}

i { font-size: 16px; }

button:focus {
  outline: transparent 0px solid;
}

button:hover {
  color:white;
  opacity: 0.7;
}

button:hover i {
  position: relative;
  -moz-animation: bounce 0.5s infinite linear;
  -o-animation: bounce 0.5s infinite linear;
  -webkit-animation: bounce 0.5s infinite linear;
  animation: bounce 0.5s infinite linear;

}

@-webkit-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    100% { top: 0; }
}
@-moz-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    100% { top: 0; }
}
@-o-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    100% { top: 0; }
}
@-ms-keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    100% { top: 0; }
}
@keyframes bounce {
    0% { top: 0; }
    50% { top: -0.2em; }
    100% { top: 0; }
}


</style>
