
<template>
  <select @change='updateSelected($event)'>
    <option
      v-for='(val, key, index) in options'
      :value='key'
      :selected='key == value'
    >
      {{val.text}}
    </option>
  </select>
</template>

<script>
let options = {
  and: {text: 'and'},
  or: {text: 'or'}
};

export default {
  name:'advanced-filter-select-logic',
  props: {
    selected: {
      type: String,
      default: 'and'
    }
  },
  // model: {
  //   prop: 'selected',
  //   event: 'updateSelected'
  // },
  data: function() {
    return {
      value: this.selected,
      options: options
    };
  },
  methods: {
    updateSelected: function(event) {
      this.value = event.target.value;
      this.$emit('updateSelected', event.target.value);
    }
  }

};
</script>

<style scoped>
select {
  background-color: transparent ;
  border-color: transparent;
  border-bottom-color: RGB(50, 200, 250);
  -webkit-appearance: none;
  text-transform: uppercase;
  padding: 0 5px;
  font-weight: bold;
  color: RGB(32, 122, 247)
}

select:focus {
  outline: none;
}

option {
  padding: 0 5px;

}
</style>
