<template>
  <div
    v-html='field'
    class='th'
    :class='cellClass'
    @click='$emit("headercell:click", field)'
  >
  </div>
</template>

<script>
export default {
  name: 'data-table-header-cell',
  props: ['field', 'sort'],
  computed: {
    cellClass: function() {
      var field = this.field;
      var sort = this.sort;
      return this.classObject(field, sort);
    }
  },
  methods: {
    classObject: function(field, sort) {
      var val = sort[field];
      var cls = {};

      if (!(field in sort)) {
        return cls;
      }
      if (val.order === 'ascending') {
        cls.asc = true;
      }
      if (val.order === 'descending') {
        cls.des = true;
      }

      return cls;
    }
  }
};
</script>


<style scoped>
.asc:after {
  content: '↑';
  position: relative;
  text-decoration: none;
}

.des:after {
  content: '↓';
  position: relative;
  text-decoration: none;
}
</style>
