<template>
  <div class='tr tfoot' @click='$emit("footer:click")'>
    <data-table-footer-cell
      v-for='(data, field, index) in fieldData'
      :key='field.id'
      :field='field'
      :fieldData='data'
    />
  </div>
</template>

<script>
import DataTableFooterCell from '../DataTableFooterCell/DataTableFooterCell.vue';

export default {
  name: 'data-table-footer',
  props: ['fieldData'],
  components: { DataTableFooterCell },
  computed: {}
};
</script>


<style scoped src='../DataTable/data-table-style.css'></style>
