div.alpha {
  text-align: center;
}

input {
  border-width: 0px 0px 2px 0;
  border-style: solid;
  border-image: linear-gradient(to right, rgb(0, 198, 255), rgb(0, 114, 255)) 20;
  -webkit-animation: Gradient 5s ease infinite;
  -moz-animation: Gradient 5s ease infinite;
  animation: Gradient 5s ease infinite;
}

input:focus {
  outline: none;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
