<template>
  <div class='alpha'>
    <input
      type='text'
      v-model='input'
      @keyup.enter='processInput($event)'
      @input='userInputChanged'
      >
    {{Object.keys(propertyTokens)}}

    <ol>
      <li v-for='suggestion in suggestions' :key='suggestion.id'>
        {{suggestion}}
      </li>
    </ol>

    <div>
      <Alert v-for='(error, index) in errors'
        :error='error.error'
        :message='error.message'
        :type='error.type'
        :key='error.id'
        @remove='removeAlert(index)'
        :value='input'
        @input='userInputChanged($event)'
      />
    </div>

    <div class="query">
      <InputAlphaConjunctiveNormalForm
        :filters='filters'
        @filterClick='removeFilter'
      />
    </div>
  </div>
</template>

<script>
import {
  functionTokens,
  logicTokens,
  extractTokens,
  conditionalTokens,
  sortTokenObject
} from './tokens.js';
import {
  ids,
  fieldTokens,
  groupByConjunctiveNormalForm,
  scrubInputText,
  giRegex
} from './helpers.js';
import Alert from '../../AlertBox/AlertBox.vue';
import InputAlphaFilter from '../InputAlphaFilter/InputAlphaFilter.vue';
import InputAlphaConjunctiveNormalForm from '../InputAlphaConjunctiveNormalForm/InputAlphaConjunctiveNormalForm.vue';

export default {
  components: { Alert, InputAlphaFilter,InputAlphaConjunctiveNormalForm },
  props: {
    data: {
      type: Object,
      default: () => {
        return {};
      }
    }
  },
  data: function() {
    return {
      input: '',
      func: '',
      propertyTokens: sortTokenObject(fieldTokens(this.data)),
      allTokens: ids(logicTokens)
        .concat(ids(functionTokens))
        .concat(ids(conditionalTokens))
        .concat(ids(sortTokenObject(fieldTokens(this.data)))),
      errors: [],
      filters: [],
      suggestions: [],
      CNF: []
    };
  },
  methods: {
    removeFilter: function(index) {
      this.filters.splice(index,1);
    },
    processInput: function() {
      let that = this;
      let text = that.input;
      that.input = '';

      let filter = this.tokenSearch(text);

      let anyUndefinedQ = false;
      for (var key in filter) {
        let undef = filter[key] === undefined;
        if (undef) {
          that.tokenError(key);
          anyUndefinedQ = true;
        }
      }

      if (anyUndefinedQ) {
        return;
      }

      that.filters.push(filter);
      that.CNF = groupByConjunctiveNormalForm(that.filters);
    },
    tokenError: function(key) {
      this.errors.push({error: 'Undefined', type: 'warning',message: `${key} is undefined. Filter discarded.`});
    },
    suggest: function() {
      let that = this;
      that.suggestions = giRegex(that.input, that.allTokens);
    },
    userInputChanged: function(event) {
      this.input = event.target.value;
      this.suggest();
    },
    tokenSearch: function(text) {
      let logic;
      let func;
      let cond;
      let prop;
      let inp;

      [prop, text] = extractTokens(text, this.propertyTokens);
      [logic, text] = extractTokens(text, logicTokens, 'and', 3);
      [func, text] = extractTokens(text, functionTokens, 'identity');
      [cond, text] = extractTokens(text, conditionalTokens, 'eq', undefined, true);
      inp = scrubInputText(text);

      return {
        logic: logic,
        function: func,
        conditional: cond,
        property: prop,
        input: inp
      };
    },
    removeAlert: function(index) {
      this.errors.splice(index, 1);
    }
  }
};
</script>


<style scoped src='./input-styles.css'>

</style>
