<template>
  <div
  class='tr'
  @click='$emit("row:click", recordId)'>
  <div v-if='selectableQ'  class='td selectable-checkbox'>
    <input type='checkbox' name='recordId' :checked='selectedQ' @change='$emit("toggledSelected",recordId)'>
  </div >
    <data-table-cell
      v-for='field in fields'
      :key='field.id'
      :record='record'
      :recordId='recordId'
      :field='field'
      :fieldRenderFunctions='fieldRenderFunctions'
    />
  </div>
</template>

<script>
import DataTableCell from '../DataTableCell/DataTableCell.vue';

export default {
  name: 'data-table-row',
  props: {
    recordId: { type: String },
    record: { type: Object },
    fields: { type: Array },
    selectableQ: {type: Boolean, default: false},
    selected: {
      type: Array, default: function(){
        return [];
      }
    },
    fieldRenderFunctions: {
      default: function() {
        return {};
      },
      type: Object
    }
  },
  data: function() {
    return {
    };
  },
  components: {
    DataTableCell
  },
  computed: {
    visibleColumns() {
      return this.columns.filter(column => !column.hidden);
    },
    selectedQ() {
      let id = this.recordId;
      let selected = this.selected;
      return selected.includes(id);
    }
  }
};
</script>


<style scoped src='../DataTable/data-table-style.css'></style>
