<template>
  <div
    class='th'
    @click='$emit("footercell:click", field)'
  >


  <select
    @change='updateSelected($event)'
    data-toggle='tooltip'
    data-placement='bottom'
    :title='selected'
  >
    <option
      v-for='option in options'
      :value='option'
      :selected='option == selected'
    >
      {{symbol(option)}}
    </option>
  </select>


  <span>{{aggregate}}</span>



  </div>
</template>

<script>
let symbols = {
  sum: '∑',
  mean: '𝜇',
  set: '{}'
};

export default {
  name: 'data-table-footer-cell',

  props: ['field', 'fieldData', 'width'],

  data: function() {
    return {
      type: typeof this.fieldData[0],
      selected: ''
    };
  },

  computed: {
    aggregate: function() {
      let type = this.type;
      let sel = this.selected;

      var data = this.fieldData;

      if (type == 'number') {
        var val = data.reduce((a, b) => a + b, 0);
        if (sel == 'sum') {
          return val;
        } else if (sel == 'mean') {
          var mean = val / data.length;
          return Math.round(mean * 100) / 100;
        }
        return val;
      } else if (type == 'string') {
        return [...new Set(data)].length;
      } else {
        return '';
      }
    },

    options: function() {
      let type = this.type;
      var opts = [];

      if (type == 'number') {
        opts = ['sum', 'mean'];
      } else if (type == 'string') {
        opts = ['set'];
      } else {
        opts = [];
      }

      if (opts.length && this.selected == '') {
        this.selected = opts[0];
      }
      return opts;
    }
  },

  methods: {
    symbol: function(option) {
      return symbols[option];
    },
    updateSelected: function(event) {
      this.selected = event.target.value;
      // console.log(this.$el.childNodes);
    }
  }
};
</script>

<style scoped src='../DataTable/data-table-style.css'></style>
<style scoped>
select {
  background-color: transparent;
  border-color: transparent;
  /* border-bottom-color: RGB(50, 200, 250); */
  -webkit-appearance: none;
  text-transform: uppercase;
  padding: 0 5px;
  font-weight: bold;
  color: RGB(32, 122, 247);
  -moz-appearance:none;
}

select:hover {
  color: RGB(50, 200, 250);
}

select:focus {
  outline: none;
}

option {
  padding: 0 5px;
}
</style>
