<template >
  <div class='filter'>
    <input
      class='data-table-filter'
      type='text'
      :value='filter'
      @input='input($event)'
      placeholder='filter...'
    >
    <span
      v-if='filter'
      class='data-table-filter-clear'
      @click='clearFilter'
    >&times;</span>
  </div>
</template>

<script>
export default {
  components: {},

  props: ['filterText'],

  data: function() {
    return {
      filter: this.filterText
    };
  },

  computed: {},

  methods: {
    input: function(event) {
      this.filter = event.target.value;
      this.$emit('update:filterText', event.target.value);
    },
    clearFilter: function() {
      this.filter = '';
      this.$emit('update:filterText', '');
    }
  }
};
</script>

<style scoped src='../DataTable/data-table-style.css'></style>
<style scoped>
div.filter {
  /* align-self: flex-end; */
  text-align: right;
  position: relative;
}

.data-table-filter {
  padding: 0 1.25em 0 0.75em;
  height: 2em;
  border: solid 2px #e0e0e0;
  border-radius: 2em;
  font-size: 0.85em;
}

.data-table-filter-caption {
  text-align: right;
  position: relative;
  font-size: 12px;
  color: grey;
}

.data-table-filter:focus {
  outline: 0;
  border-color: #007593;
}

.data-table-filter-clear {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2em;
  color: #007593;
  font-weight: bold;
  cursor: pointer;
}
</style>
