<template>
  <ol class='breadcrumb'>
    <li
      v-for='crumb in crumbs'
      class='breadcrumb-item'
      :class='{ active: crumb.activeQ }'
    >
      <a :href='crumb.href'>{{crumb.crumb}}</a>
    </li>
  </ol>
</template>

<script>
export default {
  name: 'crumbs',
  props: {
    home: {
      type: String,
      default: ''
    },
    debugQ: {
      type: Boolean,
      default: false
    }
  },

  data: function () {
    return {
    };
  },

  methods: {
    removeTrailingSlash: function(parts) {
      return parts[parts.length - 1] == ''
      ? parts.slice(0, parts.length-1)
      : parts;
    },
    removeFileName: function(parts) {
      return (parts[parts.length - 1].includes('.html')) ? parts.slice(0, parts.length-1) : parts
    },
    producePart: function(part, i, parts) {
      let that = this
      let firstQ = i == 0
      let lastQ = i == parts.length - 1

      let crumb = firstQ
        ? that.home == ''
          ? 'home'
          : that.home
        : part;

      let href = firstQ
        ? that.home == ''
          ? Array(parts.length-1).fill('../').join('')
          : that.home
        : parts.slice(0, i+1).join('/');


      return {activeQ: lastQ, crumb: crumb, href: href};
    }
  },

  computed: {
    parts: function(){
      var that = this;

      var pathname = window.location.pathname;
      var parts = pathname.split('/');

      parts = that.removeTrailingSlash(parts);
      parts = that.removeFileName(parts);
      return parts;
    },

    crumbs: function() {
      var that = this;
      if (that.debugQ) {console.group('[crumbs]');}

      var home = this.home;

      var parts = that.parts;

      if (that.debugQ) {
        console.table(parts);
        console.table({
          homeProp: that.home,
          home: home,
          homeHasIndex0Q: home == parts[0]
        });
      }


      // // remove invalid home
      while (home != parts[0] && parts.length) { parts.splice(0,1); }

      var data = parts.map(function(part, i) {
        return that.producePart(part, i, parts);
      });

      if (that.debugQ) {console.groupEnd();}
      return data;
    }
  }
};
</script>

<style scoped>

</style>
