<template>
  <div class='tr thead'>
    <div v-if='selectableQ'  class='th selectable-checkbox'>
      <input type='checkbox' name='all' :checked='selectedQ' @change='$emit("selectAll")'>
    </div >
    <data-table-header-cell
      v-for='field in fields'
      :key='field.id'
      :field='field'
      :sort='sort'
      @headercell:click='headerCellClick'
    />
  </div>
</template>

<script>
import DataTableHeaderCell from '../DataTableHeaderCell/DataTableHeaderCell.vue';

export default {
  name: 'data-table-header',
  props: ['fields', 'sort', 'selectableQ'],
  data: function() {
    return {
      timsort: this.sort,
      selectedQ: false
    };
  },
  components: { DataTableHeaderCell },

  methods: {
    headerCellClick: function(field) {
      let timsort = Object.assign({}, this.timsort);

      if (field in timsort) {
        let fieldSort = timsort[field];
        if (fieldSort.order == 'ascending') {
          fieldSort.order = 'descending';
        } else {
          delete timsort[field];
        }
      } else {
        timsort[field] = { order: 'ascending' };
      }

      this.timsort = timsort;
      this.$emit('header:click', this.timsort);
    }
  }
};
</script>


<style scoped src='../DataTable/data-table-style.css'></style>
