<template>
  <div>
    <section-navigation-arrow-up :offsetSelector="offsetSelector" :debugQ="debugQ"/>
    <section-navigation-arrow-down :offsetSelector="offsetSelector" :debugQ="debugQ"/>
  </div>
</template>

<script>
import SectionNavigationArrowDown from '../SectionNavigationArrowDown/SectionNavigationArrowDown.vue';
import SectionNavigationArrowUp from '../SectionNavigationArrowUp/SectionNavigationArrowUp.vue';

export default {
  components: { SectionNavigationArrowDown, SectionNavigationArrowUp },
  props: {
    offsetSelector: {
      type:String,
      default: undefined
    },
    debugQ: {
      type: Boolean,
      default: false
    }
  }
}
</script>

<style scoped>
div {
  position: fixed;
  top:50%;
  margin-left: 10px;
}

div > button {
  display: block;
  margin-bottom: 10px !important;
}
</style>
