<template>
  <ol>
    Sorted by:
    <li v-for='(sort, field, i) in timsort'>
      {{field}}
      <span :class='sort.order'>{{symbol(sort.order)}}</span>
    </li>
  </ol>

</template>

<script>
let symbols = {
  ascending: '↑',
  descending: '↓'
};
export default {
  name: 'data-table-caption-sort',
  props: ['timsort'],
  methods: {
    symbol: function(order) {
      return symbols[order];
    }
  }
};
</script>

<style scoped src='../DataTable/data-table-style.css'></style>
<style scoped>
ol {
  display: inline-block;
  font-size: 12px;
  color: grey;
  margin: 0px;
  padding: 0px;
}
li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

li:not(:first-child) {
  margin-left: 1px;
}

.ascending {
  color: red;
}
.descending {
  color: blue;
}

li:not(:last-child):after {
  content: '/';
}
</style>
