<template>
  <div
    @click='plus'
  >
    <i
      class='fa fa-plus-circle'
      :class='["bg-"+background, "text-"+color]'
      >
    </i>
  </div>
</template>

<script>
export default {
  props: {
    color: {
      default:'success',
      type:String
    },
    background: {
      default:'light',
      type:String
    }
  },
  methods: {
    plus: function() {
      this.$emit('plus');
    }
  }
};
</script>

<style scoped>
i {
  font-size: 24px;
  color: #28a745;
}

i:hover, i:focus {
  color: #218838 !important;
}
</style>
